.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-top: 2rem;
}

.icon {
  width: 24px;
  height: 40px;
  border: 2px solid currentColor;
  border-radius: 50px;
  position: relative;
  margin-bottom: 10px;
}

.dot {
  width: 6px;
  height: 6px;
  background-color: currentColor;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  animation: scroll 2s infinite;
}

@keyframes scroll {
  0% {
    opacity: 0;
    transform: translate(-50%, 0);
  }
  30% {
    opacity: 1;
    transform: translate(-50%, 8px);
  }
  60% {
    opacity: 0;
    transform: translate(-50%, 16px);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, 24px);
  }
}

.text {
  font-size: 14px;
  color: currentColor;
  text-align: center;
}
