.container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
}

@screen sm {
  .container {
    grid-template-columns: 1fr;
  }
}

@screen md {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@screen lg {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
