.container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
@media (min-width: 0px) {
  .container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@screen md {
  .container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@screen lg {
  .container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@screen xl {
  .container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
