.skill {
  border: 0.1rem solid rgba(128, 128, 128, 0.1);
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 0.5rem;
  @apply rounded-lg;
  padding: 0.5rem;
  align-items: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.image {
  justify-self: center;
}

.slider {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
