.container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  padding-bottom: 3rem;
}
@media (min-width: 0px) {
  .container div {
    height: 8rem;
  }
}
@screen md {
  .container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .container div {
    height: 12rem;
  }
}
